<?php

require_once('includes.php');

// DEBUG mode
define('DEBUG', false);

// Base dir
define('BASE_DIR', __DIR__ . '/');

// DB file (SQLite)
define('DB_FILE', __DIR__ . '/mailiszt.db');

// path where attachments are saved
define('ATTACHMENT_PATH', __DIR__ . '/data/attachments/');

// what to do with mails when processed, values are 'move' or 'delete'
define('MAIL_PROCESSED_ACTION', 'move');

// where to move mails when processed if MAIL_PROCESSED_ACTION is 'move'
define('MAIL_PROCESSED_FOLDER', 'INBOX/mailiszt_processed');

// php-imap communication sequence type
define('IMAP_SEQUENCE_TYPE', 'ST_UID');

// IMAP folder which contains new mails
define('IMAP_PENDING_FOLDER', 'INBOX');

// how long are authentication tokens valid in seconds
define('AUTH_TOKEN_LIFETIME', 3600);

// date format used in PHP for DB operations
define('DATE_FORMAT', "Y-m-d H:i:s");

// rejection mail text
define('REJECTION_MAIL_TEXT', "Hello {{sender}},\n\nUnfortunately you are not allowed to send mails to {{mailinglist}}. If you have questions, contact the moderator at {{moderator}}.\n\nBest regards,\nMailiszt");

// X-Mailer-Header value (' ' for none, '' for PHPMailer default)
define('X_MAILER_HEADER', 'Mailiszt');

// available API response statuses
define('API_RESPONSE_STATUSES', [
    200 => "SUCCESS",
    403 => "UNAUTHORIZED",
]);